<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>cn.vanjay.HostsEditor.Helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HostsEditorHelper</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Label</key>
	<string>cn.vanjay.HostsEditor.Helper</string>
	<key>MachServices</key>
	<dict>
		<key>cn.vanjay.HostsEditor.Helper</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/cn.vanjay.HostsEditor.Helper</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "cn.vanjay.HostsEditor" and certificate leaf[subject.OU] = "X6B6C6U6QV"</string>
	</array>
</dict>
</plist>
